apiVersion: apps/v1
kind: Deployment
metadata:
  name: belajar-nodejs-dasar
  namespace: belajar-nodejs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: belajar-nodejs-dasar
  template:
    metadata:
      labels:
        app: belajar-nodejs-dasar
    spec:
      containers:
      - name: app
        image: fegisp/belajar-nodejs-dasar:v4.4.9
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: "production"
        - name: PORT
          value: "3000"
        - name: MONGO_URI
          value: "mongodb://mongo:27017/belajar-nodejs"
        startupProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 60
          periodSeconds: 15
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
