name: Continuous Deployment

on:
  push:
    tags:
      - "v*"

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker Image
      run: |
        TAG=${GITHUB_REF#refs/tags/}
        docker build -t fegisp/belajar-nodejs-dasar:${TAG} .
        docker tag fegisp/belajar-nodejs-dasar:${TAG} fegisp/belajar-nodejs-dasar:latest

    - name: Push Docker Image
      run: |
        TAG=${GITHUB_REF#refs/tags/}
        docker push fegisp/belajar-nodejs-dasar:${TAG}
        docker push fegisp/belajar-nodejs-dasar:latest
